:root{
  --VerdeFuerte: #42a8b2;
  --VerdeBajo: #ade3e9;
  --Rosa: #f761b4;
  --Gris: #c6c6c6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #333;
  font-size: 16px;
  line-height: 1.2;
  font-family: sans-serif;
}

.ancho {
  margin: auto;
  max-width: 1200px;
}

header{
  border-top: 20px solid var(--VerdeFuerte);
  border-bottom: 5px solid var(--Gris);
}

.navbar{
  display: flex;
  align-items: center;
  
}

.izquierda{
  width: 48%;
}

.derecha{
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.derecha a{
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 15px;
}

.derecha a:first-child{
  color: white;
  background-color: var(--VerdeFuerte);
}

.hero{
  color: white;
  height: 503px;
  background-image: url("../img/foto_slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto h1{
  text-align: center;
  font-size: 43px;
  letter-spacing: -0.0313rem;
}
.part1{
  line-height: 2.5;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 1.4px;
}

.resaltado{
  font-weight: bold;
}

.upper{
  text-transform: uppercase;
}

.card-container{
  background-color: var(--VerdeBajo);
}

.cards{
  display: flex;
  padding: 30px;
  align-items: top;
  justify-content: space-between;
}

.card{
  width: 30%;
  height: 370px;
  padding: 30px;
  text-align: center;
  background-color: white;
}

.card-text{
  font-size: 22px;
}

.card-text p{
  line-height: 1.4;
}

.contenido1{
 display: flex;
 padding: 50px 0;
 align-items: top;
 justify-content: space-between;
}

.Quien-izquieda{
  width: 30%;
}

.Quien-derecha{
  width: 70%;
  padding: 30px 0 0 30px;
}

.subtitulo{
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: -1px;
  color: var(--VerdeFuerte);
}

.Quien-derecha p{
  margin-bottom: 20px;
}

.listado{
  line-height: 0.7;
  margin-left: 35px;
  line-height: bold;
  color: goldenrod;
  font-size: 1.875rem;
  list-style-type: square;
}
.listado1{
  line-height: 0.7;
  margin-left: 25px;
  line-height: bold;
  color: goldenrod;
  font-size: 1.875rem;
  list-style-type: square;
}

.listado2{
  margin-top: 10px;
  color: #575656;
  margin-left: 35px;
  list-style: none;
}

.Quien-derecha li{
  margin-bottom: 10px;
}
 
.font{
  font-size: 1rem;
  color: #575656;
}

.separador{
  height: 4px;
  width: 80px;
  border: none;
  margin-bottom: 15px;
  background-color: var(--Rosa);
}

.color{
  color: var(--VerdeFuerte);
}

.contenido2{
  display: flex;
  justify-content: space-between;
}

.c-card{
  width: 33%;
  height: 340px;
  border: 1px solid black;
  padding: 20px 0 0 20px;
}

.c-card2{
  width: 33%;
  height: 340px;
  background-color: var(--Gris);
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-card2 img{
  width: 98%;
}

.Precios{
  margin-top: 80px;
  text-align: center;
}

.Precios hr{
  margin: 0 auto 20px auto;
}

.Precios table{
  width: 80%;
  margin: 0 auto 40px auto;
  text-align: left;
  border-spacing: 10px;
  border: 2px solid black;
}

.Precios th{
  padding: 10px 15px;
  text-align: center;
  border: 2px solid black;
  background-color: var(--VerdeBajo);
}

.Precios td{
  padding: 10px 15px;
  border: 2px solid black;
}

.Precios a{
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--Rosa);
}

.sombreado{
  font-weight: bold;
  text-align: center;
  background-color: var(--Gris);
}

.centrado{
  text-align: center;
}

.VideoCont{
  margin-top: 120px;
  display: flex;
}

.video{
  width: 50%;
}

.Contactanos{
  width: 50%;
  padding: 20px;
}

.Contactanos form{
  margin-top: 50px;
}

.Contactanos input{
  width: 50%;
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 1rem;
}

.Contactanos textarea{
  width: 100%;
  height: 150px;
  resize: none;
  border: 1px solid;
  font-size: 1rem;
  color: #898989;
  padding: 15px;
  border: 1px solid black;
  margin-bottom: 30px;
}

.Contactanos button{
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
  background-color: var(--VerdeFuerte);
  color: white;
}

.informacion{
  background-color: var(--Gris);
  padding: 30px;
  margin-top: 20px;
}

.Content{
  color: white;
}

.text1{
  color: white;
  display: inline-block;
  width: 32%;
  font-size: 20px;
  vertical-align: middle;
}

.text2{
  color: white;
  display: inline-block;
  width: 32%;
  font-size: 40px;
  vertical-align: middle;
}

.text3{
  font-size: 20px;
  color: white;
  display: inline-block;
  width: 32%;
  vertical-align: middle;
}

footer{
  color: white;
  background-color: var(--VerdeFuerte);
  text-align: center;
  padding: 20px;
}